body {
  background-color: #cccccc;
  margin: 0px;
  overflow: hidden;
}

#helpbox {
  position: absolute;
  padding: 1em ;
  color: black ;
  background-color: #ffffff22 ;
  font-family: sans-serif;
  font-size: 18px;
  text-shadow: white 0px 0px 10px ;  
  transition: visibility 1s, opacity 1s ;
}

#dismiss {
  position: absolute;
  right: 10px;
  cursor: default ;
}

#dismiss:hover {
  color: black ;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}